.container {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  display: flex;
}
.links {
  display: flex;
  font-size: 20px;
  width: 100%;
}
.home {
  margin-right: auto;
  margin-left: 3%;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
}
.links a {
  text-decoration: none;
  color: white;
  margin: 0 7%;
}
.links a:visited {
  text-decoration: none;
}
.link:hover,
.link2:hover,
.link3:hover {
  color: rgba(0, 147, 76, 1);
}
