.container {
  background: #1f2029;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  display: flex;
}
.links {
  display: flex;
  font-size: 20px;
  width: 100%;
}
.home {
  margin-right: auto;
  margin-left: 3%;
  display: block;
}

.home h4 {
  color: #ffeba7;
}

.navigation {
  width: 200px;
  margin-top: 3%;
  display: flex;
}

.navigation h4 {
  font-size: 16px;
  color: #ffeba7;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 0 7%;
}
.links a:visited {
  text-decoration: none;
}

