/*Rick and Morty*/
h2 {
  font-weight: 400;
  color: white;
  margin-left: 140px;
  span {
    font-weight: bold;
  }
}

h2:hover {
  color: #ffeba7;
}

/*Container*/

.nav_container {
  padding: .4ram;
  background-color: #1f2029;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*About y Favorites*/
a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

a:hover {
  color: #ffeba7;
}

/*Barra de navegacion*/
